body {
    background-color: #f9fafb;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.header {
    background-color: #9ca3af;
}
.header h1 {
    color: #fff;
    text-align: center;
}
@media (min-width: 768px) {
    .header h1 {
    margin: 0;
    }
}
.header .contenido-header {
    padding: 2rem;
    border: 1px solid red;
}
@media (min-width: 768px) {
    .header .contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
}

@media (min-width: 768px) {
    .navegacion-principal {
    display: flex;
    gap: 2rem;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .navegacion-principal a {
    margin: 0;
    }
}
.navegacion-principal a:hover {
    color: #fef46d;
}
/* 
.separacion{
    height: 6rem;
    background-color: rebeccapurple;
    margin-bottom: 3rem;
} */